<% if tasks.present? %>
	<ul class="task-list">
		<% tasks.each do |task| %>
			<li>
				<%=
					check_box_tag "complete-#{task.id}",
											  "yes",
												task.completed_at?,
												data: { task_id: task.id },
												disabled: current_user != task.user
				%>
				<%= label_tag "complete-#{task.id}", task.name %>
				
				(<%= task.user.first_name %> <%= task.user.last_name %>)
				<span class="task-controls right">
					<%= link_to "Delete", task, method: :delete, data: { confirm: "Are you sure?"}, :class => "delete" %>
					<%= link_to "Edit", edit_task_path(task), :class => "edit" %>		
				</span>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>No tasks of this size there yet.</p>
<% end %>