<div class="task-list-icon-wrapper">
	<div class="link-with-icon left">
		<%= link_to image_tag("icons/Add-icon.png"), new_task_path, class: "left" %>
		<%= link_to "Add new task", new_task_path, class: "left" %>
	</div>
	
	<div class="link-with-icon right">
		<%= link_to image_tag("icons/Speach-Bubble-icon.png"), new_task_path, class: "right comment-toggler" %>
		<%= link_to "Show comments", new_task_path, class: "right comment-toggler" %>
	</div>
</div>

<div class="task-wrapper">
<!-- TODO: me no satisfied... -->
  <div class="left task-list-part">
    <h2>Big Tasks</h2>
    <% if @tasks["big"] %>
    	<div class="gradient task-section">
    	  <h3>Daily</h3>
    	  <%= render partial: "task_list", locals: { tasks: @tasks["big"]["daily"] } %>
    	</div>
    	<div class="gradient task-section">
    	  <h3>Weekly</h3>
    	  <%= render partial: "task_list", locals: { tasks: @tasks["big"]["weekly"] } %>
    	</div>
    	<div class="gradient task-section">
    	  <h3>Monthly</h3>
    	  <%= render partial: "task_list", locals: { tasks: @tasks["big"]["monthly"] } %>
    	</div>
    <% else %>
    	<p>You have no big tasks yet.</p>
    <% end %>
  </div>

  <div class="right task-list-part">
    <h2>Small Tasks</h2>
    <% if @tasks["small"] %>
    	<div class="gradient task-section">
    	  <h3>Daily</h3>
    	  <%= render partial: "task_list", locals: { tasks: @tasks["small"]["daily"] } %>
    	</div>
    	<div class="gradient task-section">
    	  <h3>Weekly</h3>
    	  <%= render partial: "task_list", locals: { tasks: @tasks["small"]["weekly"] } %>
    	</div>
    	<div class="gradient task-section">
    	  <h3>Monthly</h3>
    	  <%= render partial: "task_list", locals: { tasks: @tasks["small"]["monthly"] } %>
    	</div>
    <% else %>
    	<p>You have no small tasks yet.</p>
    <% end %>
  </div>
</div>