<div class="form-wrapper">
	<%= form_tag add_user_path, method: :post do %>
	<div class="field">
		<h2>Add <%= label_tag :users %> by email address</h2>
		
		<div class="adding-fields">
			<div class="add-user-field">
				<%= text_field_tag "users[]" %>
				<button type="button" class="add-remove-extra-user-field">Remove</button>
			</div>
		</div>
		
		<button type="button" class="add-user-button add-remove-extra-user-field">Add more</button>
	</div>
	
	<div class="actions">
		<%= submit_tag %>
	</div>
	<% end %>
	<%= link_to "Back", group_path %>
</div>