<%= form_for @group do |f| %>

	<div class="field">	
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	
	<p>Add people by email address.</p>
	
	<div class="field">
		<%= label_tag :users %>
		
		<div class="adding-fields">
			<div class="add-user-field">
				<%= text_field_tag "users[]" %>
				<button type="button">Remove</button>
			</div>
		</div>
		
		<button type="button" class="add-user-button">Add user field</button>
	</div>
	
	<div class="field">
		<%= label_tag :add_suggested_tasks %>?
		<%= check_box_tag :add_suggested_tasks %>
	</div>
		
	<div class="actions">
		<%= f.submit %>
	</div>
	
<% end %>