<div class="form-wrapper">
	<h2>Create a group</h2>
	<%= form_for @group do |f| %>

	<div class="field">	
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	
	<div class="field">
		<br><label><b>Add people by email address.</b></label>
	</div>
	<br>
	<div class="field">
		<%= label_tag :users %>
		<div class="adding-fields">
			<div class="add-user-field">
				<%= text_field_tag "users[]" %>
				<button type="button" class="add-remove-extra-user-field">Remove</button>
			</div>
		</div>
		
		<button type="button" class="add-user-button add-user-button add-remove-extra-user-field">Add more</button>
	</div>
	<br>
	<div class="field">
		<%= label_tag :add_suggested_tasks, "Add suggested tasks", title: "You can choose tasks from a premade list, if you check of this box" %>?
		<%= check_box_tag :add_suggested_tasks %>
	</div>
		
	<div class="actions">
		<%= f.submit %>
	</div>
	
	<% end %>
</div>