<%= form_for @group do |f| %>

	<div class="field">	
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	
	<div class="field">
		<%= label_tag :users %>
		<%= text_area_tag :users %>
	</div>
	
<!--TODO: change into 1 per line with + button kinda thing -->
	
	<div class="actions">
		<%= f.submit %>
	</div>
	
<% end %>