<h1>
	<%= @group.name %>
</h1>

<h2>Group members:</h2>
<ul class="group-member-list">
	<% @group.users.each do |user| %>
		<li>
			<%= image_tag "pp-placeholder.png", alt: "User's profile picture"%> <!--TODO: replase in alt 'Users' by actual name and add it into the link-->
			<h3><%= link_to "#{user.first_name} #{user.last_name}", user %></h3>
			<h4>Score: 27</h4><!-- TODO: generate score -->
		</li>
	<% end %>
</ul>

<div class="">
	<%= link_to "Add new person", choose_user_path %>
	<%= link_to "Leave the group", leave_group_path(@group), method: :delete, data: { confirm: "Are you sure?" } %>
</div>

<div class="">
	<%= link_to "Your task list", tasks_path %>
	<a href="#">See progress graph</a>
</div>
<br>

<%= link_to "Delete group", @group, method: :delete, data: { confirm: "Are you really sure you want to delete this group?" } %>