<h1>
	<%= @group.name %>
</h1>

<h2>Group members:</h2>
<ul class="group-member-list gradient">
	<% @group.users.each do |user| %>
	<li>
		<!--TODO: make bg image -->
		<div class="group-member" style="background-image: url(<%= image_path user.avatar.url %>);"></div>
		<h3><%= link_to "#{user.first_name}", user %></h3>
		<h4>Score: <%= user.total_score %></h4>
	</li>
	<% end %>
</ul>

<div class="group-buttons-wrapper">
	<div class="right">
		<div class="link-with-icon">
			<%= link_to image_tag("icons/Bulleted-List-icon.png"), tasks_path, class: "right" %>
			<%= link_to "Your task list", tasks_path, class: "right" %>
		</div>
		<div class="link-with-icon">
			<%= image_tag "icons/Bar-Chart-5-icon.png", alt: "Progress Graph", class: "right" %>
			<a href="#" class="">See progress graph</a>
		</div>
	</div>

	<div class="left group-buttons">
		<div class="link-with-icon">
			<%= link_to image_tag("icons/Add-User-icon.png"), choose_user_path, class: "left" %>
			<%= link_to "Add new person", choose_user_path, class: "left" %>
		</div>
		
		<div class="link-with-icon">
			<%= link_to image_tag("icons/Door-icon.png"), leave_group_path(@group), method: :delete, data: { confirm: "Are you sure you want to leave the group?" }, class: "left" %>
			<%= link_to "Leave the group", leave_group_path(@group), method: :delete, data: { confirm: "Are you sure you want to leave the group?" }, class: "left" %>
		</div>
	</div>
</div>

<div class="link-with-icon">
	<%= link_to image_tag("icons/Household-Waste-icon.png"), @group, method: :delete, data: { confirm: "Are you really sure you want to delete this group?" }, class: "left" %>
	<%= link_to "Delete group", @group, method: :delete, data: { confirm: "Are you really sure you want to delete this group?" }, class: "left" %>
</div>
