<!DOCTYPE html>
<html>
<head>
	<title>Habitat</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='//fonts.googleapis.com/css?family=Arvo:700|Ubuntu:400,700' rel='stylesheet' type='text/css'>
</head>

<body class="gradient" data-no-turbolink>
	<!-- TODO: make this not show up, when there is nothing happening!! -->

	<% if notice.present? || alert.present? %>
		<p class="notice gradient"><%= notice %></p>
		<p class="alert gradient"><%= alert %></p>
	<% end %>
	
	
	<header>
		<nav>
			<div class="left nav-part">
				<% if user_signed_in? %>
					<% if current_user.group? %>
						<%= link_to "Group", current_user.group %>	
						<%= link_to "Task list", tasks_path %>	
					<% else %>
						<%= link_to "Create a group", new_group_path %>
					<% end %>
			</div>
			<div class="right nav-part">
				<a href="#" class="profile">Profile ▾</a>
				<div class="profile-sub">
					<%= link_to "See profile", current_user%>
					<%= link_to "Log out", destroy_user_session_path, method: :delete, :class => "log-out" %>
				</div>
				<!--TODO: make it only show if user has group -->
				<% if current_user.group? %>
					<%= link_to "Graph", graphs_path %>
				<% end %>
			</div>
			<% end %>
		</nav>
		
		<a href="/"><%= image_tag "logo.png", alt: "Logo", class: "logo" %></a>
	</header>
	
	<div class="main">
		<%= yield %>
	</div>
	
	<footer>
		<a href="#" class="left">Contact</a>
		<%= link_to 'Donate', page_path('donate'), class: "right" %>
		<div>
			<p>Final project | <i>Multimedia Design &amp; Communication '15</i></p>
			<p>&copy; Marie Crabit | 2015</p>
		</div>
	</footer>
</body>
</html>
