<!DOCTYPE html>
<html>
<head>
  <title>ChoresApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
	<% if user_signed_in? && !current_user.group? %>
		<%= link_to "Create a group", new_group_path %>
	<% end %>
	
	<div class="main">
		<%= yield %>
	</div>
	
</body>
</html>
